/* Estilo Geral */
body {
    font-family: Arial, sans-serif;
    background-color: #F3E5F5; /* Cor de fundo lilás claro */
    color: #4A235A; /* Cor de texto roxo escuro */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Conteúdo Principal */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* Seção do Formulário */
section.form-container {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
}

/* Título do Formulário */
h2 {
    color: #7B1FA2; /* Título em lilás mais escuro */
    margin-bottom: 20px;
}

/* Estilos dos Inputs e Selects */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="password"], input[type="date"], select, datalist {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #D1C4E9;
    border-radius: 4px;
}

input[type="radio"], input[type="checkbox"] {
    margin-right: 5px;
}

/* Botão de Envio */
input[type="submit"] {
    background-color: #7B1FA2; /* Botão lilás escuro */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #6A1B9A; /* Cor mais escura ao passar o mouse */
}
